.singup-page{
    max-width: 451px;
    width: 100%;
    margin: auto;
    box-shadow: 0px 0px 30px 6px #00000045;
    padding: 48px 36px;
    background-color: white;
    border-radius: 8px;
    margin-top: 10%;
}
.singup-page form label{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: block;
    text-align: left;
}
.singup-page form input{
    margin: 10px 0 16px;
    padding: 14px 16px 12.09px 16px;
    border-radius: 5px;
    border: 1px solid grey;
    color: black;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: 92%;
    outline: none;
}
.singup-page button{
    background-color: rgb(95, 66, 45);
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
}